<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent } from "d3-array";

    // Global variables
    export let selectedLocation; 
    export let type;
    export let globalScale;

    const handleSelection = (type, data) => {
        return data.filter(d => d.buildingtype == type)
    }
    
    let data = handleSelection(type, selectedLocation);
    $: data = handleSelection(type, selectedLocation);


    // Scales 
    const xScale = scaleTime()
        .domain(extent(selectedLocation.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([0, 500]);
   
    const yScaleWithin = scaleLinear()
        .domain(extent(selectedLocation.map(d => d.total_heating_energy)))
        .range([0, 12]);
    
    const yScaleBetween = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0, 12]);

    const chartWithin = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yScaleWithin(d.total_heating_energy))
            .y1(d=>yScaleWithin(d.total_heating_energy))

    const chartBetween = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yScaleBetween(d.total_heating_energy))
            .y1(d=>yScaleBetween(d.total_heating_energy))
</script>

<g>
    <g transform="translate(-50,0)" dominant-baseline="central"
    style="font: 15px serif">
        <text>{type.split(/(?=[A-Z])/).join(' ')}</text>
    </g>
    <g transform="translate(110, 0)">
        {#if globalScale == 1}
            <path d={chartWithin(data)} ></path>
        {:else}
            <path d={chartBetween(data)} ></path>
        {/if}
    </g>
</g>
<style>
    path {
        stroke :#2b2d42;
        fill: #2b2d42;
    }
    text {
        font-family: Helvetica Neue;
        font-size: 11px;
    }
</style>