<script>
    export let location;
    export let globalScale;

    let cities = ["Baltimore", "Chicago", "Los Angeles"];
</script>

<div class="row" >    
    <div class="col-sm" id='col1'>
        {#each cities as city}
            <label>
                <input type=radio name="location" bind:group={location} value={city}>
                {city}
            </label>
            <br/>
        {/each}
    </div>
    
    <div class="col" id='col2'>
        <label>
            <input type=radio name="globalScale" bind:group={globalScale} value={1}>
            Within each building types
        </label>
        <br/>
        <label>
            <input type=radio name="globalScale" bind:group={globalScale} value={0}>
            Across all building types
        </label>
    </div>
</div>
<style>
    .row {
        padding-top: 5px; 
    }
    label {
        font-size: 13px;
        
    }
    #col1 {
        padding-left: 200px;
        padding-right: 0;

    }
    #col2 {
        padding: 0;
    }
</style>