<script>
    // Imports
    import { radialArea } from "d3-shape";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent } from "d3-array";
    import { curveBasis } from 'd3'

   
    export let data = [];
    export let city;


    $:{
        console.log(data)
    }
    
    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    // Local variables
    let maxRadius = 60;
    let whitespace = 15;

    // Data Manipulation
    data = data.filter(d => d.city == city);
    

    // Scales
    const xScale = scaleLinear()
        .range([0, 2 * Math.PI])
        .domain(extent(data, d => d.month))

    
    const yScaleHeating = scaleRadial()
        .range([0, maxRadius])
        .domain(extent(data, d => d.heating))
    
    const yScaleCooling = scaleRadial()
        .range([0, maxRadius])
        .domain(extent(data, d => d.cooling))


    // Areas
    const areaCooling = radialArea()
        .curve(curveBasis)
        .angle(d => xScale(d.month))
        .innerRadius(0)
        .outerRadius(d => yScaleCooling(d.cooling))

    const areaHeating = radialArea()
        .curve(curveBasis )
        .angle(d => xScale(d.month))
        .innerRadius(0)
        .outerRadius(d => yScaleHeating(d.heating))


    const months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"]; 
    let transform = (index) => {
        let rotation = 30*index-15;
        let string = "rotate(" + rotation + ")";
        return string;
    }
 


</script>

<svg viewBox="0 0 {width/3} {height}" style="max-width: {width/2.5}px"  >
    <g transform="translate({margin.left}, {margin.top})">
        <g transform="translate(0,20)">
            <text class="title" x="50%" text-anchor="middle">{city}</text>
        </g>
        <g transform="translate({width/6},125)">
            <circle cx=0 cy=0 r={maxRadius + whitespace} fill="#cce6f4" fill-opacity=0.2 stroke="#555b6e"/> 
            <!--<line x1=0 y1={-(maxRadius+whitespace)} x2=0 y2={maxRadius+whitespace}  />
            <line x1={-(maxRadius+whitespace)} y1=0 x2={maxRadius+whitespace} y2=0 />-->
            <path d={areaCooling(data)} fill="#175676"/>
            <path d={areaHeating(data)} fill="#ba324f" />
            <!--<text class="legend" transform="translate(0,{-(maxRadius+whitespace+10)})">0</text>
            <text class="legend" transform="translate({(maxRadius+whitespace+8)},0)">3</text>
            <text class="legend" transform="translate(0,{(maxRadius+whitespace+10)})">6</text>
            <text class="legend" transform="translate({-(maxRadius+whitespace+8)},0)">9</text>-->

            
            {#each months as month, idx}
                <text transform={transform(idx+1)} x=0  y = {-(maxRadius + whitespace + 5)} text-anchor = "middle" font-style = "italic" font-stretch= 'narrower' font-size = 8px>{month}</text>
            {/each}

        </g>
    </g>
</svg>


<style>
    .title{
        font: italic 18px 'Trebuchet MS' sans-serif;        
    }

  path{
      
      fill-opacity :0.5
  }
</style>
