<script>
    // Imports
    import { area, scaleLinear, scaleTime, extent, max } from "d3";
  
    export let data = [];
    
    let leafWidth = 190 * (data.length/160);
    const leafHeight = 100;

    // Time Scale 
    const xScale = scaleTime()
        .domain(extent(data.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([3, leafWidth])

    // y Scales for Electricty 
    const yScaleElectricty = scaleLinear()
        .domain([0, max(data.map(d => d.total_electrity))])
        .range([leafHeight/2, 20])

    const areaElectricty = area()
        .x(d => xScale(new Date(2014, 11, d.day, d.hour)))
        .y0(yScaleElectricty(0))
        .y1(d => yScaleElectricty(d.total_electrity))
        
    // y Scales for Gas 
    const yScaleGas = scaleLinear()
        .domain([0, max(data.map(d => d.total_gas))])
        .range([leafHeight/2, leafHeight])
        
    const areaGas = area()
        .x(d => xScale(new Date(2014, 11, d.day, d.hour)))
        .y0(yScaleGas(0))
        .y1(d => yScaleGas(d.total_gas))

</script>

<svg>
        <path d={areaElectricty(data)} fill="#233d4d" opacity="0.9"/>
        <path d={areaGas(data)} fill="#fcca46"/>
     
       
</svg>
