<script>
  // Imports

  import { onMount } from "svelte";
  import { json } from "d3-fetch";

  import Controls from "./de_1_Controls.svelte";
  import ViolinChart from "./de_1_ViolinChart.svelte";

  // Size and margins
  const width = 600;
  const height = 420;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  //const innerWidth = width - margin.left - margin.right;
  //const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let data;
  let buildingTypes = [];
  let selectedLocation; 
  let globalLocation = "Baltimore";
  let globalScale = 1;

  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
    data.map((item) => {
      if (!buildingTypes.includes(item.buildingtype)) {
        buildingTypes.push(item.buildingtype);
      }
    })
  });

  const handleLocation = (dataset, location) => {
    if (dataset != null) {
      selectedLocation = dataset.filter(d => d.city == location);
    }
  }

  $: handleLocation(data, globalLocation);
  


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div >
    <h5> Hourly electricity consumption throughout December, 2014 </h5>
    <div >
      <Controls bind:location={globalLocation} bind:globalScale={globalScale}/>
    </div>
    <svg {width} {height}>
      <g transform="translate(0, {margin.top})">
            {#each buildingTypes as type, i}
              <g transform="translate(50,{10+(i*25)})">
                  <ViolinChart {selectedLocation} {globalScale} type={type}/>
              </g>
            {/each}  
      </g>
      <g>
        <text x={160} y={height - 10} style="font-size:9">December 1st</text>
        <text x={width - 70} y={height - 10} style="font-size:9"
          >December 31st</text>
      </g>
    </svg>
    
  </div>
{/if}

<style>
  h5 {
    text-align: center;
    padding-top: 10px;
    font-family: Helvetica Neue;
  }
</style>