<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import LeafChart from "./de_3_LeafChart.svelte";
 

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const weeks = [52, 51, 50, 49, 48]

  // Load the data
  let data;
  onMount(async () => {
     data = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  
</script>


  {#if !data}
    <p>Loading the data, please wait...</p>
  {:else}
  <div>
    <h5> Weekly electricity and gas consumption in Chicago <br>throughout December, 2014 </h5>
    <svg {width} {height}>
      <g>
        <rect x=20 y=440 width=10 height=10 fill="#233d4d" opacity="0.9"></rect>
        <text x=40 y=450 class='legend'>Electricity </text>
        <rect x=20 y=460 width=10 height=10 fill="#fcca46" ></rect>
        <text x=40 y=470 class='legend'>Gas</text>
        <svg>
      
        </svg>
        {#each weeks as week, index}
          {#if (week % 2 == 0)}
            <g transform="translate({innerWidth/2-15},{(index+1) *75}) rotate(-15)">
              <LeafChart data={data.filter(d => d.week == week)}/>
            </g>  
          {:else}
            <g transform="translate({(innerWidth/2 + 25)-margin.left},{(index+1)*75}) scale(-1,1) rotate(-15)">
              <LeafChart data={data.filter(d => d.week == week)}/>
            </g> 
          {/if}
        {/each}
       
     <line x1={width/2 - margin.left} y1={margin.top*4} x2={width/2 - margin.left} y2={height-120} class = stemline />
    <!--  <text transform = "translate({(innerWidth/2)-50},{innerHeight-50})" class = "chicago"> Chicago</text>
      <text transform = "translate({(innerWidth/2)-110},{innerHeight-20})" class = "chicago"> (December 2014)</text>-->

      <text x=10 y=360 class="linetext" >Week 2</text>
      <path d="M 60,290 Q 30,300 32,340" class="line" />
      <line x1=32 x2=28 y1=340 y2=330 class="line" />
      <line x1=32 x2=36 y1=340 y2=330 class="line" />
      
      
      <text x=420 y=320 class="linetext" >Week 1</text>
      <path d="M 440,325 Q 447,355 420,380" class="line" />
      <line x1=440 x2=445 y1=325 y2=330 class="line" />
      <line x1=440 x2=437 y1=325 y2=331 class="line" />


    </g>
    
  </svg>
</div>
{/if}

<style>
  .stemline {
    stroke :#233d4d;
    stroke-width: 2.5;
    fill: none;
  }


  .legend {
    font-family :Verdana, Tahoma, sans-serif;
    font-style: italic;
    fill: #233d4d;
  }

  .line {
    stroke: #233d4d;
    stroke-width: 1px;
    fill : none;
    
  }

  .linetext {
    font-size: 11px;
    font-family :Verdana, Tahoma, sans-serif;
    color: #233d4d;
  }
  h5{
    padding-top: 25px;
    text-align: center;
    font-family :Verdana, Tahoma, sans-serif;
  }
</style>
