<script>
import RadarChart from "./de_2_RadarChart.svelte";
import { onMount } from "svelte";
import { json } from "d3-fetch";


const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Load the data
  let data; 
 
  onMount(async () => {data = await json("/data/daily_heating_cooling.json")})

  const city1 = {
    city: "Chicago",
  };
  const city2 = {
    city: "Baltimore",
  };
  const city3 = {
    city: "Los Angeles",
  };


</script>
{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <RadarChart data={data} {...city1} />
  <RadarChart data={data} {...city2}/>
  <RadarChart data={data} {...city3}/>
{/if} 
