<script>
  let current = "";
</script>
<style>
  .selected { 
    background-color : steelblue;
    color: white;}
</style>

<!-- We will cover buttons in week 7! -->
<button class="{current === "messi" ? 'selected' : "btn btn-secondary"}"
  on:click={() => (current = "messi")}>
  Messi
</button>


<button class="{current === "ronaldo" ? 'selected' : "btn btn-secondary"}"
  on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="{current === "neymar" ? 'selected' : "btn btn-secondary"}"
  on:click={() => (current = "neymar")}>
  Neymar
</button>



