<script>
    const itsMe = {
        name : "Fatma", 
        favouriteThing : ['Cream-colored ponies', 'crisp apple strudels',
'doorbells', 'sleigh bells', 'schnitzel with noodles']
    }
</script>

<div>
    <p>
        My name is {itsMe.name} and these are some of my favourite things: {itsMe.favouriteThing}.
    </p>
</div>
