<script>
 const calculateCircumference = (radius) => 4 * Math.PI * radius;
</script>

<div>
    <p>
    The circumference of a sphere with radius 3m is {calculateCircumference(3).toFixed(2)}m.
    </p>
</div>  