<script>
  // Properties
  //export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  export let selectedYear = 0;
  export let selectedContinent = "all";


  let animation = false;
  let timer;
 

  const handleStart = () => {
    animation = true;
    timer = setInterval(() => {
      const selectedYearRange = selectedYear + 1;
      selectedYearRange <= 214 ? selectedYear = selectedYearRange : selectedYear = 0;
    }, 50);
  }

  const handleStop = () => {
    animation = false;
    clearInterval(timer);
  }

  const handleReset = () => {
    handleStop();
    selectedYear = 0;
  }

</script>

<div class="row">
  <!--  -->
  <div class="col-4">
    {#if animation}
      <button type="button" class="btn btn-primary" on:click={handleStop}>Stop</button>
    {:else}
      <button type="button" class="btn btn-primary" on:click={handleStart}>Start</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={handleReset}>Reset</button>
  </div>
  <div class="col-5">
    <label class="form-label col-sm-10">
      Year: {1800 + selectedYear}
      <input 
        type="range" 
        class="form-range" 
        bind:value={selectedYear} 
        min={0} 
        max={214} 
        step={1}>
    </label>
  </div>

  <div class="col-3" >
    <select class="form-select" bind:value={selectedContinent}>
      <option value="all">all</option>
      {#each continents as continent}
        <option  value={continent}>{continent}</option>
      {/each}
    </select>
    
  </div>

</div>
