<script>

	let counter = 0;
    const increment = () => counter += 1;
    const reset = () => counter = 0

</script>
<button on:click={increment} type="button" class="btn btn-info"> {counter == 1 ? `Clicked ${counter} time` : `Clicked ${counter} times` } </button>
<button on:click={reset} type="button" class="btn btn-danger">Reset!</button>
    

