<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
 

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let scatterPlotData = null;
  let selectedYear = 0;
  let selectedContinent = "all";


  onMount(async () => {
    data = await json("/data/gapminder.json");
    scatterPlotData = data[0]['countries']
    //console.log(scatterPlotData)
   
  });

  const handleData = (year, continent) => {
    if (data) {
      if (continent === "all") {
        scatterPlotData = data[year]['countries'];
      } else {
        scatterPlotData = data[year]['countries'].filter(x => x.continent === continent);
      }
    }
  }

  $: handleData(selectedYear, selectedContinent);

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data = {scatterPlotData} />
    <Controls bind:selectedYear={selectedYear} bind:selectedContinent={selectedContinent}/>
  </div>
{/if}
