<script>
import {scaleLinear, scaleSqrt, scaleOrdinal, max, extent, axisBottom, axisLeft, select, schemeDark2} from 'd3'


export let datapoints;
// Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

// Scales
 const scaleX = scaleLinear().domain([0, max(datapoints, d => d.income)]).range([0, innerWidth]);
 const scaleY = scaleLinear().domain([0,90]).range([innerHeight, 0]);
 const scaleRadius = scaleSqrt().domain([0, max(datapoints, d => d.population)]).range([2,20])
 const scaleColor = scaleOrdinal(schemeDark2).domain(extent(datapoints.map(d => d.continent)))


// Axis
const ticks = [400,4000,40000]
const tickLabels = ["$400", "$4000", "$40000"]	
const xAxis = (x) => axisBottom(scaleX).tickValues(ticks).tickFormat((d,i) => tickLabels[i])(select(x))
const yAxis = (x) => axisLeft(scaleY)(select(x));

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <!--  {#each datapoints as datapoint}
    <ul><li>{datapoint.country}</li></ul>
      
    
    {/each} -->
    <g use:yAxis={"svg"}></g>
    <g transform="translate(0,{scaleY(0)})" use:xAxis={"svg"} />

    
      {#each datapoints as datapoint}
        {#if +datapoint.income != 0 && +datapoint.life_exp != 0}
          <circle 
            cx={scaleX(+datapoint.income)} 
            cy={scaleY(+datapoint.life_exp)} 
            r={scaleRadius(datapoint.population)} 
            style="fill: {scaleColor(datapoint.continent)}"/>
        {/if}
      {/each}
   
      <text x={-innerHeight/2} y=-30 text-anchor="middle" font-size=15 transform="rotate(-90)">Life Expectancy</text>
      <text x={innerWidth/2} y={innerHeight+35} text-anchor="middle" font-size=15>GDP per Capita</text>
      <text x={innerWidth/2} y=0 text-anchor="middle" font-size=30>Gapminder Scatterplot</text>
      <text x={innerWidth-80} y={innerHeight-10} text-anchor="left" font-size=35 opacity=0.4>1800</text>

 
  </g>
</svg>

<style>
  circle {
    fill-opacity: 0.6;
  }
  
</style>