<script>
  import { scaleLinear, axisBottom, select } from 'd3' 
  
    // Dimensions
    const width = 800;
    const height = 100;
    const margin = { top: 5, right: 5, bottom: 5, left: 5 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
  
    const values = [2, 4, 6, 7, 9];
    const xScale = scaleLinear().domain([0, 10]).range([0, innerWidth])

    const xAxis = (x) => axisBottom(xScale)(select(x));
  
  </script>
  
  <svg viewBox="0 0 {width} {height}">
    <!-- Axis -->
      <g transform="translate({margin.left},{margin.top})">
      <g transform="translate(0, {innerHeight -15})" use:xAxis={"svg"} />
      <!-- circles -->
    
      {#each values as value}
         <circle cx={xScale(value)} cy={innerHeight / 2} r="10" fill="teal" />
      {/each}

    
  </g>
     
  </svg>
  