<script>
  import { scaleLinear, scaleOrdinal, schemeDark2, extent } from 'd3' 

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scales
  const xScale = scaleLinear().domain([0, 10]).range([0, innerWidth])
  const yScale = scaleLinear().domain([0, 3]).range([innerHeight, 0])
  const scaleColor = scaleOrdinal(schemeDark2).domain(extent(values.map(d => d.category)))
  //console.log(xScale(3))
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    <line x1="0" y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke="black" />
    {#each values as value}
          <circle 
            cx={xScale(value.x)} 
            cy={yScale(value.y)} 
            r="5" 
            style="fill: {scaleColor(value.category)}"/>
            <text x={xScale(value.x)} y={yScale(value.y)-8} >{value.y}</text>
            <line x1={xScale(value.x)} y1={yScale(value.y)+5}  x2={xScale(value.x)} y2={innerHeight} stroke="black" />
      {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
