<script>
    import { scaleLinear, axisBottom, axisLeft, extent, select, scaleOrdinal, scaleBand } from 'd3';
    // Dimensions
    const width = 600;
    const height = 300;
    const margin = { top: 10, right: 10, bottom: 30, left: 60 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    const barWidth = innerWidth / 7;
  
    // Array
    const data = [
      { service: "Netflix", viewers: 2.9 },
      { service: "Amazon Prime Video", viewers: 1.3 },
      { service: "Disney+", viewers: 2.1 },
      { service: "Hulu", viewers: 0.9 },
      { service: "Apple TV", viewers: 1.1 },
      { service: "Rakuten", viewers: 0.4 }
    ];
    // Axis
    const extractValue = (arr, prop) => arr.map(item => item[prop])
    const xTicks = extractValue(data, 'service')
    //const yTicks = extractValue(data, 'viewers')
    //console.log(xTicks)
    
    const xAxis = (x) => axisBottom(xScale)(select(x));
    const yAxis = (x) => axisLeft(yScale)(select(x));

    // Scales
    const xScale = scaleBand().domain(xTicks).range([0, innerWidth])
    const yScale = scaleLinear().domain([0, 3]).range([innerHeight, margin.top])

  </script>
  
  <!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
  <svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
    <g transform={`translate(${margin.left},${margin.top})`}>
        
     <!-- Axis -->
      <g use:yAxis={"svg"}></g>
      <g transform="translate(0,{yScale(0)})" use:xAxis={"svg"} />
      <text x={-innerHeight/2} y=-35 text-anchor="middle" font-size=12 transform="rotate(-90)">Viewers (Million)</text>
       <!-- Bars -->
              {#each data as point, i}
                  <rect
                      x="{xScale(point.service) + 10}"
                      y="{yScale(point.viewers)}"
                      width="{barWidth - 2}"
                      height="{yScale(0) - yScale(point.viewers)}"
            
                  ></rect>
              {/each}
    </g>
  </svg>
  <style>
     rect {
          fill: steelblue;
          stroke: none;
          opacity: 0.65;
      }
  </style>