  <script>
    import Scatterplot from './_ex_7_scatterplot.svelte'
    import { onMount } from "svelte";

    const endpoint = '/data/gapminder.json'; 
    let datapoints=[];
    let loaded = false; 

    onMount( async () => {
      const response = await fetch(endpoint);
      const data = await response.json();
      datapoints = data[0].countries;
      loaded = true
      //console.log(datapoints)
    });
  
  </script>
    {#if loaded}
      <Scatterplot {datapoints}/>
    {:else}
      <p>The data is being loaded...</p>
    {/if}


